* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: radial-gradient(circle, #0d1b2a 0%, #050c1a 100%);
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    position: relative;
    overflow-x: hidden;
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 50px;
    width: 100%;
}

.rainbow-text {
    font-size: 4rem;
    font-weight: 900;
    background: linear-gradient( 90deg, 
     #ff004d,
     #ff7300,
     #ffd500,
     #00c853,
     #00b0ff,
     #6a00ff,
     #ff00d4,
     #ff004d);
     text-shadow: (0 0 8px rgba(255, 255, 255, 0.8));
     background-size: 200% auto;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
      background-clip: text;
     line-height: 1;
     animation: rainbow 3s linear infinite, rubberBand 1.6s infinite;
}

@keyframes rainbow {
    0%{background-position: 0% center;}
    100%{background-position: 200% center;}
}

.sticker-luffy {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: -5px;
    filter: drop-shadow(0 0 10px rgba(255, 180, 0, 0.85));
}


.popup-sticker {
    width: 100px;
    height: auto;
    object-fit: cover;
}

.popup-sticker:hover {
    font-size: 0.9rem;
    color: #ffe600;
    font-weight: bold;
}


@keyframes pop-bounce {
    0%, 100% { transform: scale(1); }
    50% {transform: scale(1.1);}
}

.slider-container {
    width: 100%;
    overflow: hidden;
    margin: 5px 0;
}


.slider-track {
    display: flex;
    width: calc(220px*16);
    animation: scroll-left 16s linear infinite;
}

.slider-track img {
    width: 240px;
    height: 320px;
    object-fit: cover;
    margin: 0 10px;
    border-radius: 10px;
    border: 2px solid #6a00ff;
    filter: drop-shadow(0 0 8px #6a00ff);
    transition: transform 0.3s ease;
}

@keyframes scroll-left {
    0% {transform: translateX(0);}
    100% { transform: translateX(calc(-220px * 4));}
}

.meme-overlay img {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.assets-1 {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 5px;
    z-index: 15;
}

.meme-1 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 5px;
    z-index: 16;
}
.meme-2 {
    position: absolute;
    top: 150px;
    right: 70px;
    width: 5px;
    z-index: 17;
}

.meme-3 {
    position: absolute;
    top: 20px;
    left: 200px;
    width: 5px;
    z-index: 18;
}

.meme-4 {
    position: absolute;
    top: 30px;
    left: 150px;
    width: 5px;
    z-index: 500;
}

footer {
    font-family: 'Playfair Display', serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 10px;
}

.nyan-cat {
    width: 400px;
    height: auto;
    margin-left: -5%;
}